<nav class="navbar navbar-light" xmlns:a="http://www.w3.org/1999/html">
  <div class="container-fluid flex-row flex-nowrap justify-content-center">

    <form class="d-flex w-75 ">
      <input *ngIf="router.url.includes('/home/listjob') || router.url.includes('/home/listcustomer')"
        class="form-control me-2 FormStyle" id="search" type="input" placeholder="Search" aria-label="Search"
        list="brows" [(ngModel)]="searchtext" (ngModelChange)="searchEvent($event)"
        [ngModelOptions]="{standalone: true}" autocomplete="off">
      <!-- <datalist id="brows" *ngIf="search">
        <option *ngFor="let s of search">{{s}}</option>
      </datalist> -->
    </form>

    <div class="w-25 d-flex flex-row justify-content-end">
      <span class="align-self-center SpanTopNav">{{User?.attributes?.name}}</span>
      <div class="dropdown ">

        <button class="img-thumbnail grow me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">

          <img *ngIf="!User?.attributes?.picture" src="./assets/abstract-user-flat-1.svg" class="ImgTag" alt="">
          <img *ngIf="User?.attributes?.picture" [src]="User?.attributes?.picture" class="ImgTagDiv" alt="">

        </button>

        <ul class="dropdown-menu dropdown-menu-lg-end DMDiv" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="adminportal" >Admin Portal</a></li>
          <li><a class="dropdown-item" role="button" (click)="logOut()">Log Out</a></li>
        </ul>

      </div>
    </div>

    <!-- agent notification start -->
    <div class="dropdown" *ngIf="is_admin == false">
      <button class="btn btn-sm position-relative me-3 NotificationDiv grow" id="dropdownMenuButton2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0b2f53" class="bi bi-bell"
          viewBox="0 0 16 16">
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          <span *ngIf="notificationLength >= 0" class="SpanWhite">{{notificationLength}}</span>
        </span>
      </button>
      <ul class="dropdown-menu dropdown-menu-lg-end DropDownDiv" aria-labelledby="dropdownMenuButton2" role="menu">
        <li *ngFor="let noti of eventNotification" class="dropdown-item DropDownItemDiv"><a class="dropdown-item"
            routerLink="/home/calendar">
            <h3>New Event</h3>
            <p class="titleP">{{noti.EventData.title}}</p>
            <p class="dateP">
              {{noti.EventData.end | date}}</p>
          </a>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </div>
    <!-- agent notification end -->
    <!-- admin notification start -->
    <div class="dropdown" *ngIf="is_admin == true">
      <button class="btn btn-sm position-relative me-3 NotificationDiv grow" id="dropdownMenuButton2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0b2f53" class="bi bi-bell"
          viewBox="0 0 16 16">
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          <span *ngIf="notificationLength >= 0" class="SpanWhite">{{notificationLength}}</span>
        </span>
      </button>
      <ul class="dropdown-menu dropdown-menu-lg-end DropDownDiv" aria-labelledby="dropdownMenuButton2" role="menu">
        <li *ngFor="let noti of eventNotification" class="dropdown-item DropDownItemDiv"><a class="dropdown-item"
            routerLink="/home/calendar">
            <h3>Event Completed</h3>
            <p class="titleP">{{noti.EventData.title}}</p>
          </a>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </div>
    <!-- admin notification end -->
  </div>
</nav>
